<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Sobre nosotros</ion-title>
    <img class="img-logo" src="../../../assets/img/logo.png" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <img class="img" src="../../assets/img/anto.jpeg" alt="">
        <ion-card-subtitle>Anya</ion-card-subtitle>
        <ion-card-title>Antonia Galaz</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        "siempre tuve problemas con el transporte publico de no saber cuando llega
        asi que, quise crear esta app para ayudar a la gente que estaba como yo"
      </ion-card-content>
    </ion-card>
  
            <ion-list>
              <ion-item>
                <ion-icon name="person" class="custom-icon"></ion-icon>
                <ion-label>Antonia Galaz Leon</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="heart" class="custom-icon"></ion-icon>
                <ion-label>Tengo 20 Años</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="school" class="custom-icon"></ion-icon>
                <ion-label>Estudio Ing. en Informatica</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="happy" class="custom-icon"></ion-icon>
                <ion-label>Videojuegos</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="tv" class="custom-icon"></ion-icon>
                <ion-label>Evangelion</ion-label>
              </ion-item>
            </ion-list>
  
  
    
    <ion-card>
      <ion-card-header>
        <img class="img" src="../../assets/img/alerzy.jpeg alt="">
        <ion-card-subtitle>Alerzy</ion-card-subtitle>
        <ion-card-title>Alexis Solis</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        "Una vez me quede sin locomocion como las 3 AM
        para un 18 de septiembre y jamas supe cuanto venia la micro
        o si es que iban a pasar mas micros, asi que quize ayudara a
        las personas para que no pasen por lo mismo"
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="person" class="custom-icon"></ion-icon>
        <ion-label>Alexis Andres Solis Nuñez</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" class="custom-icon"></ion-icon>
        <ion-label>Tengo 23 Años</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="school" class="custom-icon"></ion-icon>
        <ion-label>Estudio Ing. en Informatica</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="happy" class="custom-icon"></ion-icon>
        <ion-label>Bailarin de folclore</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="tv" class="custom-icon"></ion-icon>
        <ion-label>Game of Thrones</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-content>
